<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan</title>
</head>
<body>
<h1>Token</h1>

<form action="">
  <p><label for="fall">Fall</label></p>
  <textarea id="fall" name="fall" rows="4" cols="50">Any Fall classes</textarea>
  <p><label for="winter">Winter</label></p>
  <textarea id="winter" name="winter" rows="4" cols="50">Any Winter classes</textarea>
  <p><label for="spring">Spring</label></p>
  <textarea id="spring" name="spring" rows="4" cols="50">Any Spring classes</textarea>
  <p><label for="summer">Summer</label></p>
  <textarea id="summer" name="summer" rows="4" cols="50">Any Summer classes</textarea>
  <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>