<include href="views/header.html"></include>

<body>
<h1>Token</h1>
<div class="container">
  <form action="" method="post">



    <div class="form-group">
      <label for="fall" class="col-sm-4 control-label">Fall classes</label>
      <div class="col-sm-4"><input class="form-control" type="text" name="fall" id="fall" value="{{ @fall }}"></div>
    </div>

    <div class="form-group">
      <label for="winter" class="col-sm-4 control-label">Winter classes</label>
      <div class="col-sm-4"><input class="form-control" type="text" name="winter" id="winter" value="{{ @winter }}"></div>
    </div>

    <div class="form-group">
      <label for="spring" class="col-sm-4 control-label">Spring classes</label>
      <div class="col-sm-4"><input class="form-control" type="text" name="spring" id="spring" value="{{ @spring }}"></div>
    </div>

    <div class="form-group">
      <label for="summer" class="col-sm-4 control-label">Summer classes</label>
      <div class="col-sm-4"><input class="form-control" type="text" name="summer" id="summer" value="{{ @summer }}"></div>
    </div>


      <span class="err">{{ @saveMessage }}</span>


    <div class="col-xs-3 ">
      <input class="form-control btn btn-default" type="submit" value="Submit">
    </div>
  </form>
</div>
</body>
</html>